* {
	margin: 0;
	padding: 0;
	list-style: none;
}

html,body {
	height: 100%;
	overflow: hidden;
}
/*reset panel posotion*/
.panel {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 1;
}

.top {
	height: 61px;
}

.barline {
	margin-top:57px;
	height: 30px;
	width: 100%;
	overflow:hidden;
	background-image: url(images/bar.gif);
}

.left {
	top: 91px;
	bottom: 24px;
	width: 184px;
	overflow:hidden
}

.content {
	top: 91px;
	left: 183px;
	bottom: 24px;
	background-color: white;
}

.bottom {
	top: auto;
	height: 24px;
}
#loadPanel {
	overflow-y: auto;
	overflow-x: auto;
	width: 100%;
	margin: 0px;
	padding: 0px;
	top: 0px;
	bottom: 0px;
	position: absolute;
	background-color: gray;
	filter: alpha(opacity = 30);
	opacity: .3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	z-index: 99999;
	background-image: url("images/loading.gif");
	background-repeat: no-repeat;
	background-position: center;
	display: none;
}
