.pop-box {
	z-index: 99999; 
	margin-bottom: 30px;
	display: none;
	position: absolute;
	background: #FFF;
	border: solid 1px #6e8bde;
}

.mask {
	top: 0px;
	position: absolute;
	background: #000;
	border: 1px solid #999;
	filter: alpha(opacity = 50);
	opacity: .5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	box-shadow: none;
}

.pop-box-body {
	clear: both;
	margin: 0px;
	padding: 0px;
}

.buttonPanel {
	
}

.buttonPanel a {
	background: url(images/close.gif);
	height: 17px;
	width: 31px;
	display: block;
	float: right;
	margin-bottom:-17px;
	z-index:100;
	position:relative;
	float:right;
}